/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 /* Variable */
 :root {
    --ColorGreen: #9AB672;
    --ColorBlue: #699797;
    --ColorBrown: #A7926F;
    --ColorTurquoise: #558F82;
    --ColorGreenHover: #C0DB9B;
    --ColorBlueHover: #8BAEAE;
    --ColorBrownHover: #B8A584;
    --ColorTurquoiseHover: #69A598;
}

/* Global */
#products .product-miniature .discount-amount.discount-amount, #products .product-miniature .discount-amount.discount-percentage, #products .product-miniature .discount-percentage.discount-amount, #products .product-miniature .discount-percentage.discount-percentage, #products .product-miniature .on-sale.discount-amount, #products .product-miniature .on-sale.discount-percentage, #products .product-miniature .online-only.discount-amount, #products .product-miniature .online-only.discount-percentage, #products .product-miniature .pack.discount-amount, #products .product-miniature .pack.discount-percentage, #products .product-miniature .product-flags .new.discount-amount, #products .product-miniature .product-flags .new.discount-percentage, .featured-products .product-miniature .discount-amount.discount-amount, .featured-products .product-miniature .discount-amount.discount-percentage, .featured-products .product-miniature .discount-percentage.discount-amount, .featured-products .product-miniature .discount-percentage.discount-percentage, .featured-products .product-miniature .on-sale.discount-amount, .featured-products .product-miniature .on-sale.discount-percentage, .featured-products .product-miniature .online-only.discount-amount, .featured-products .product-miniature .online-only.discount-percentage, .featured-products .product-miniature .pack.discount-amount, .featured-products .product-miniature .pack.discount-percentage, .featured-products .product-miniature .product-flags .new.discount-amount, .featured-products .product-miniature .product-flags .new.discount-percentage, .product-accessories .product-miniature .discount-amount.discount-amount, .product-accessories .product-miniature .discount-amount.discount-percentage, .product-accessories .product-miniature .discount-percentage.discount-amount, .product-accessories .product-miniature .discount-percentage.discount-percentage, .product-accessories .product-miniature .on-sale.discount-amount, .product-accessories .product-miniature .on-sale.discount-percentage, .product-accessories .product-miniature .online-only.discount-amount, .product-accessories .product-miniature .online-only.discount-percentage, .product-accessories .product-miniature .pack.discount-amount, .product-accessories .product-miniature .pack.discount-percentage, .product-accessories .product-miniature .product-flags .new.discount-amount, .product-accessories .product-miniature .product-flags .new.discount-percentage, .product-miniature .product-miniature .discount-amount.discount-amount, .product-miniature .product-miniature .discount-amount.discount-percentage, .product-miniature .product-miniature .discount-percentage.discount-amount, .product-miniature .product-miniature .discount-percentage.discount-percentage, .product-miniature .product-miniature .on-sale.discount-amount, .product-miniature .product-miniature .on-sale.discount-percentage, .product-miniature .product-miniature .online-only.discount-amount, .product-miniature .product-miniature .online-only.discount-percentage, .product-miniature .product-miniature .pack.discount-amount, .product-miniature .product-miniature .pack.discount-percentage, .product-miniature .product-miniature .product-flags .new.discount-amount, .product-miniature .product-miniature .product-flags .new.discount-percentage {
    z-index: 2;
    background: var(--ColorBrown);
}

li.product-flag, #products .product-miniature .product-flags .new, .featured-products .product-miniature .product-flags .new, .product-accessories .product-miniature .product-flags .new, .product-miniature .product-miniature .product-flags .new {
    z-index: 2;
    background: var(--ColorGreen);
}

/* Header */
#header a:hover {
    color: var(--ColorGreen);
}

#header .top-menu a[data-depth="0"]:hover { 
    color: var(--ColorTurquoise);
}

#header .header-nav .cart-preview.active {
    background: var(--ColorBlue);
}

#header .header-nav .cart-preview.active:hover {
    background: var(--ColorBlueHover);
}

.search-widget form input[type=text]:focus {
    outline: 3px solid var(--ColorBlue);
    color: #232323;
    background: #fff;
}

.search-widget form button[type=submit] .search:hover {
    color: var(--ColorBlue);
}

.top-menu {
    margin-top: auto;
}

/* Category */
.block-categories .category-sub-menu li[data-depth="0"]>a {
    font-weight: 600;
    width: 100%;
    display: inline-block;
    border: none;
    margin: .3125rem 0 0;
    padding-bottom: .1875rem;
}

.block-categories .category-sub-menu a {
    color: var(--ColorBlue);
    padding-left: 0px;
    transition-property: padding-left, color; /* Active la transition sur background-color */
    transition-duration: 250ms;
}

.block-categories .category-sub-menu a:hover {
    color: var(--ColorTurquoiseHover);
    padding-left: 10px;
}


/* Product */
.product-price {
    color: var(--ColorBlue);
}

.has-discount .discount {
    background: var(--ColorBrown);
}

.has-discount.product-price, .has-discount p {
    color: var(--ColorBrown);
}

.product-images>li.thumb-container>.thumb.selected, .product-images>li.thumb-container>.thumb:hover {
    border: 3px solid var(--ColorBlue);    
}

.tabs .nav-tabs .nav-link.active {
    color: var(--ColorBlue);
}

.tabs .nav-tabs .nav-link.active, .tabs .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid var(--ColorBlueHover);
}

/* Bootstrap */
.btn-primary {
    background: var(--ColorGreen);
}

.btn-primary:hover {
    background: var(--ColorGreenHover);
}

.form-control:focus, .input-group.focus {
    outline: .1875rem solid var(--ColorBlue);
}



/* Hebergement Dialog : Choix d'un panier */

.choixPanierRow {
    padding-top: 10px;
}

.choixPanierRow_title, .choixPanierRow_subtitle {
    text-align: center;
}